body {
  width: 100%;
  background-color: #c6c6c6;
}
#main {
  width:80%;
  min-height: 300px;
  margin:0 auto;
  padding-left:20px;
  padding-right:20px;
  background-color:#FFFFFF;
}
#header {
  position: relative;
  text-align: center;
  padding: 20px;
  text-transform: uppercase;
}
#header img {
  height: 30px;
  top: 15px;
  position: absolute;
}
#header span {
  margin-left: 70px;
}
#home {
  text-align: center;
  padding: 50 0;
}
.space {
  height: 30px;
}
form input {
  font-size: 35px;
  width: 100px;
}